<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quentin.is3261.pepeteacheskotlin">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ARActivity" />
        <activity android:name=".Lesson2Activity" />
        <activity android:name=".BasicTypesActivity" />
        <activity android:name=".BasicTypesNumbersLessonActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".BasicTypesCharactersLessonActivity" />
        <activity android:name=".BasicTypesQuizActivity" />
        <activity
            android:name=".TryKotlinActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".BasicTypeBooleanLessonActivity" />
        <activity android:name=".ControlFlowActivity" />
        <activity android:name=".ControlFlowIfElseLessonActivity" />
        <activity android:name=".ControlFlowWhenLessonActivity" />
        <activity android:name=".ControlFlowForLoopLessonActivity" />
        <activity android:name=".ControlFlowWhileLoopLessonActivity" />
        <activity android:name=".ControlFlowReturnLessonActivity" />
        <activity android:name=".ControlFlowContBreakLessonActivity" />
        <activity android:name=".BasicTypesStringLessonActivity" />
        <activity android:name=".BasicTypesArraysLessonActivity" />
        <activity android:name=".BasicTypesCollectionsLessonActivity" />
        <activity android:name=".BasicTypesRangesLessonActivity" />
        <activity android:name=".ControlFlowQuizActivity" />
        <activity android:name=".ClassObjectActivity" />
        <activity android:name=".ClassObjectNestedClassLessonActivity" />
        <activity
            android:name=".ClassObjectInnerClassActivity"
            android:label="@string/title_activity_class_object_inner_class"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ClassObjectInnerClassLessonActivity" />
        <activity android:name=".ClassObjectTypeAliasesLessonActivity"></activity>
    </application>

</manifest>